<footer class="site-footer">
    <div class="container">
      <div class="row">
        <li><a class="nav-link">Contact Us</a></li>
        <li><a class="nav-link">About Us</a></li>
        <li><a class="nav-link">Blog</a></li>
        </div>
      <div class="bottom-footer">
        <div class='col-md-5'>Copyright@ 2020,Movie Cruiser Inc.All Rights Reserved</div>
        <div class='col-md-12'>
          <ul class="footer-nav">
            <li><a href="http://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com" target="blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://www.google.com" target="blank"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="http://www.youtube.com" target="blank"><i class="fa fa-youtube"></i></a></li>
          </ul>

        </div>
      </div>
    </div>
  </footer>