<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../assets/rsz_13my-logo.png" width="100" height="80" alt="Loading Error">
          </a>

        <ul class="navbar-nav">
            <li><a class="nav-link" routerLink="/home">Home</a></li>
            <li><a class="nav-link" routerLink="/movie">Movies</a></li>
            <li><a class="nav-link" routerLink="/favorites">Favorites</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-center">
            <li><label class="deco">Movie Cruiser</label></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a class="nav-link" routerLink="/login">Login</a></li>
            <li><a class="nav-link" routerLink="/logout">Logout</a></li>
            <li><a class="nav-link" routerLink="/register">Register</a></li>
        </ul>
    </nav>
</header>